@page "/"


<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto"> <!-- Inclure la police web -->

<div style="display:block; width:50%; margin: 0 auto">
    <br /><br /><br /><br />
    <h1 style="font-size: 40px; font-family: 'Roboto', sans-serif; text-align:center">Optimisez votre Gestion des Stocks</h1> <!-- Utiliser la police web et ajuster la taille de la police -->
    <br />
    <div style="width:600px; font-size: 20px; margin-left: 50px; font-family: 'Roboto', sans-serif"> <!-- Utiliser la police web et ajuster la taille de la police -->
        Bienvenue dans le Système de Gestion des Stocks de BOCOM SA Petroleum. Cette plateforme est conçue pour rationaliser et améliorer vos processus de gestion des stocks. Avec notre système, vous pouvez suivre, organiser et contrôler efficacement vos ressources. Rejoignez-nous pour optimiser votre processus de gestion des stocks et faire un pas vers l'excellence opérationnelle.
        <ul> <!-- Ajouter des points à puces -->
            <li>Gérez votre inventaire avec une interface intuitive et réactive.</li>
            <li>Suivez l'état de vos stocks en temps réel avec des rapports et des analyses.</li>
            <li>Optimisez votre stockage et votre approvisionnement avec des prévisions et des alertes.</li>
        </ul>
    </div>
    <br />   
    <br />
    @* <button @onclick="GoToDashboard" style="font-size: 20px; font-family: 'Roboto', sans-serif; background-color:green; color: white; padding: 10px; border-radius: 10px">Accéder au tableau de bord</button> <!-- Ajouter un bouton --> *@
    <br /><br /><br /><br /><br /><br />
</div>
